nav {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

nav a {
  color: #566573;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
}

.fixed-nav {
  position: fixed;
  z-index: 20;
  top: 0;
  display: none;
}

.navbar-brand {
  font-size: 1.50rem;
}

.navbar-nav a {
  font-weight: 600;
  font-size: 18px;
}

@media (max-width: 768px) {
  nav {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  nav a {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0px;
  }

  .logo {
    width: 30%;
    height: auto;
  }
}

@media (max-width: 575px) {
  .nav-container {
    position: static;
    margin-left: 0;
    margin-right: 0;
  }
}
