/* Initial setting */
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}
/* End initial setting */

/* Header */
.banner {
  background-image: url(../images/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 900px;
}

.banner-info {
  margin-top: 15em;
  text-align: center;
}

.banner-info h3 {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 35px;
  text-transform: uppercase;
}

.banner-info p {
  color: #FFFFFF;
  font-size: 20px;
  margin: 1.5em 0 5em;
  letter-spacing: 2px;
}

nav {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

nav a {
  color: #566573;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
}

/* General Content Design */
.content {
  padding: 5em 0;
}

.content h1 {
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.5em;
  color: #566573;
}
/* End of General Content Design */

/* Content: About */
#about {
  background-color: #FFFFFF;
}

#about h2 {
  color: #03CF74;
  font-size: 18px;
  line-height: 1.8em;
}

#about p {
  font-size: 15px;
  color: #959798;
}
/* End of About */

/* Content: Team */
#team {
  background-color: #1B2631;
}

.team_member h2 {
  color: #F7DC6F;
  padding: 0;
}

.member {
  margin-top: 1rem;
}

.member_profile {
  background-color: #1B2631;
  border: none;
}

.member_profile img {

  border: 1px solid #FFFFFF;
}

.member_info {
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 1em;
  padding: 0.5em 0;
}

.member_info h4 {
  text-decoration: underline;
  color: #D98880;
  text-transform: uppercase;
}

.member_info h5 {
  color: #ABEBC6;
  padding: 5px 0;
  margin: 5px 0;
}

.member_info p {
  color: #FFFFFF;
  letter-spacing: 1px;
  padding: 5px 0;
  margin-top: 2em;
}

/* End of Team */

/* Gallery CSS */
#gallery {
  padding: 3em 0;
}
/* End of Gallery CSS */

/* contact CSS */
#contact {
  padding: 6em 0px;
  background: #1F272A;
  height: 200px;
  text-align: center;
  margin: 0 auto 0 auto;
}

.contact-info {
  list-style: none;
  display: table;
  margin-top: 2.5%;
  margin-left: auto;
  margin-right: auto;
}

.contact-info:nth-child(1) {
  margin-top: 0;
}

.contact-info > li {
  text-align: left;
}

.contact-info > li > p > span {
  font-size: 1.5em;
  color: #03CF74;
  display: inline-block;
  padding-right: 10px;
}

.contact-info > li > p {
  color: #FFFFFF;
  font-size: 16px;
  display: inline-block;
}

.contact-info > p > a {
  color: #FFFFFF;
}

.contact-info > p > a:hover {
  text-decoration: none;
  color: #03CF74;
}
/* End of Contact CSS */

/*  Footer CSS*/
footer {
  padding: 3.5em 0px;
  background: #1F272A;
  text-align: center;
}

.footer-top > p {
  font-size: 15px;
  color: #FFFFFF;
  margin-top: 3%;
}

.footer-top > p > a {
  color: #FFFFFF;
}

.footer-top > p > a:hover {
  color: #03CF74;
}

.footer-top > ul {
    margin-top: 3%;
}

.footer-top > ul > li {
  list-style: none;
  display: inline-block;
  margin: 0 6px;
}

.footer-top > ul > li > a > span {
  background: url(../images/social-icons.png) no-repeat;
  width: 48px;
  height: 48px;
  display: block;
}

.footer-top > ul > li > a > span.fb {
  background-position: 0px 0px;
}

.footer-top > ul > li > a > span.twit {
  background-position: -48px 0px;
}

.footer-top > ul > li > a > span.google {
  background-position: -96px 0px;
}

.footer-top > ul > li > a > span.fb:hover {
  background-position: 0px -48px;
}

.footer-top > ul > li > a > span.twit:hover {
  background-position: -48px -48px;
}

.footer-top > ul > li > a > span.google:hover {
  background-position: -96px -48px;
}
/* End of Footer CSS */

/* media control */
@media (max-width: 1200px) {
  /* Content: Team */
  .member_info {
    width: 70%;
    margin-top: 0.5em;
  }
  /* End of Team */
}

@media (max-width: 992px) {
  /* Content: Team */
  .member_info {
    width: 60%;
    margin-top: 0.5em;
  }
  /* End of Team */
}

@media (max-width: 768px) {
  /* Header */
  .banner {
    min-height: 100vh;
  }

  .banner-info {
    margin-top: 5em;
    text-align: center;
  }

  .banner-info h3 {
    font-weight: normal;
    font-size: 18px;
  }

  .banner-info p {
    font-size: 12px;
  }

  nav {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  nav a {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0px;
  }

  .logo {
    width: 30%;
    height: auto;
  }
  /* End of Header */

  /* Content: About */
  .about_detail h2, p {
    text-align: center;
  }
  /* End of About */

  /* Content: Team */
  .member {
    margin-top: 3.5rem;
  }
  .member_profile {
    margin: 0 auto;
  }

  .member_info {
    width: 100%;
  }
  /* End of Team */
}

@media (max-width: 575px) {
  /* Header */
  .banner {
    min-height: 100vh;
  }

  .banner-info {
    margin-top: 10em;
    text-align: center;
  }

  .banner-info h3 {
    font-weight: normal;
    font-size: 18px;
  }

  .banner-info p {
    font-size: 12px;
  }
  /* End of Header */

  /* General Content Design */
  .content h1 {
    font-weight: 600;
    margin-bottom: 1em;
  }

  .content {
    padding: 3em 0;
  }
  /* End of General Content Design */

  /* Content: About */
  #about h2 {
    line-height: 1.5em;
    font-size: 16px;
  }

  #about p {
    font-size: 12px;
    color: #959798;
  }
  /* End of About */

  /* Content: Team */
  .member_info h4 {
    font-size: 1rem;
  }

  .member_info h5 {
    font-size: 0.75rem;
  }
  /* End of Team */
}
/* End of media control */
